.App {
    background-color: #f5f5f5;
    font-style: bold;
    text-align: center;
    font-family: "Boogaloo";
  }
  

.header-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: rgb(79, 147, 190);
}

.nav-link {
  margin: 0 10px; 
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: darkgreen;
}


.plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  text-decoration: none;
}

.plant-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(31, 77, 31);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease-in-out; 
}

.plant-button:hover {
  background-color: rgb(36, 62, 102); 
  color: white; 
}


/* Styles for GardenLayout component */

.garden-layout img {
  width: 4.5em;
  height:4.5em;
}

.garden-layout {
  display: grid;
  margin-left: 20px;
  margin-top:10px;
  margin-bottom: 20px;
  position: relative;
  touch-action: none;
}


.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.grid-container {
  width: 40%;
  margin-top: 10px; 
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
 
}

.item {
  background-color: #59be93;
  padding: 15px;
  text-align: center;
  height: 35px;
  border: 5px solid rgb(103, 116, 185);
  border-radius: 5px;
  
}







  


/* Styles for MyCalendar component */

div.rbc-calendar {
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

div.rbc-toolbar button {
  background-color: #219b7c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

div.rbc-toolbar button:hover {
  background-color: #36bcb1;
}

div.rbc-event {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
}

div.rbc-event:hover {
  background-color: #dcdcdc;
}

div.rbc-today {
  background-color: #f0f0f0;
}

div.rbc-off-range {
  opacity: 0.5;
}

div.rbc-today {
  background-color: rgb(114, 204, 169) !important;
}
