.App {
    background-color: #f5f5f5;
    font-style: bold;
    text-align: center;
    font-family: "Boogaloo";
  }
  

.header-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: rgb(79, 147, 190);
}

.nav-link {
  margin: 0 10px; 
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: darkgreen;
}

/* Styles for Plants component */


.plant-card {
  background-color: rgb(165, 176, 198);
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  padding: 24px;
  max-width: 600px;
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Patrick Hand';
}

.plant-card h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

.plant-card p {
  font-size: 24px;
  margin-bottom: 12px;
}

.plant-card .plant-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plant-card .plant-buttons button {
  margin: 10px;
}

.plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
  gap: 30px;
  text-decoration: none;
}

.plant-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(26, 123, 125);
  color: rgb(171, 188, 180);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  border-bottom: none;
}

.plant-button:hover {
  background-color: rgb(36, 62, 102);
  color: white;
}

.plant-name-input {
  font-size: 20px;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}



/* Styles for PlantListing component */

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.plant-listing-page {
  background-color: #674e73;
}

.plant-info-box {
  background-color: rgb(165, 176, 198);
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Patrick Hand';
  
}

.plant-info-box h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

.plant-info-box p {
  font-size: 24px;
  margin-bottom: 12px;
}

.create-plant-listing-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 24px;
}

.create-plant-listing-box form {
  width: 100%;
  max-width: 400px;
}

.create-plant-listing-box input,
.create-plant-listing-box select,
.create-plant-listing-box button {
  margin-bottom: 12px;
  font-size: 20px;
}



/* Styles for GardenLayout component */

.garden-layout img {
  width: 4.5em;
  height:4.5em;
  margin-right: 10px;
  margin-top: 10px;
}

.garden-layout {
  display: grid;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  touch-action: none;
}


.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.grid-container {
  width: 40%;
  margin-top: 10px; 
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
 
}

.item {
  background-color: #59be93;
  padding: 15px;
  text-align: center;
  height: 35px;
  border: 5px solid rgb(103, 116, 185);
  border-radius: 5px;
  
}

.page-background {
  background-color: rgb(226, 226, 237);
  height: 100vh;
  margin-top: none;
}







  


/* Styles for MyCalendar component */

div.rbc-calendar {
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

div.rbc-toolbar button {
  background-color: #219b7c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

div.rbc-toolbar button:hover {
  background-color: #36bcb1;
}

div.rbc-event {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  color: #504e4e;
  font-size: 14px;
}

div.rbc-event:hover {
  background-color: #dcdcdc;
}

div.rbc-today {
  background-color: #f0f0f0;
}

div.rbc-off-range {
  opacity: 0.5;
}

div.rbc-today {
  background-color: rgb(114, 204, 169);
}

/* Styles for CompanionPlanting component */


.chart {
  display: table;
  border-collapse: collapse;
  width: 100%;
  background-color: #353039;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px;
  background-color: #77a4bc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(219, 222, 222, 0.2);
}

.cell {
  flex-basis: 60%;
  padding:2px;
  text-align: center;
  font-size: 25px;
  color: #4b2c2c;
}

.cell:last-child {
  border-right: none;
}



/* Styles for Login component */


.login-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.login-card label {
  display: block;
  margin-bottom: 10px;
}

.login-card input[type="text"],
.login-card input[type="password"] {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.login-card button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


/* Styles for Register component */


.register-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.register-card label {
  display: block;
  margin-bottom: 10px;
}

.register-card input[type="text"],
.register-card input[type="email"],
.register-card input[type="password"] {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.register-card button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-card .error {
  color: red;
  margin-bottom: 10px;
}
